html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%
}

/* Height for gatsby and reach router wrapper divs */
#___gatsby, #___gatsby > * {
    height: 100%
}
